body {
    font-family: 'Arimo', sans-serif;
}

table {
    border: 24px solid #3a4965;
    /*width: 100%;*/
}

th,td {
    border: 1px solid #cfcfcf;
}

.container {
    margin: 0 auto;
}

.choose-plan {
    width: 310px;
    vertical-align: middle;
    background-color: #fafafa;
}

.first-part-text {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #484848;
}

.second-part-text {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #484848;
}

.choose-plan-name {
    height: 70px;
    width: 277px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.ultimate-plan {
    font-size: 30px;
}

.plan-text {
    color: white;
}

.standart-plan {
    background-color: #89c331;
}

.ultimate-plan {
    background-color: #f04a56;
}

.premium-plan {
    background-color: #20807c;
}

.pricing-cell {
    height: 86px;
    vertical-align: middle;
    text-align: center;
}

.price-dollars {
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.price-dollars:before {
    content: '$';
}

.cents {
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: 6px;
}

.per-month {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.plan-items {
    height: 69px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.plan-items:nth-child(2n) {
    background-color: #e3e3e3;
}

.plan-items-icon {
    color: #848484;
    padding-right: 10px;
}

.plan-items-title {
    vertical-align: middle;
}

.plan-items-text {
    vertical-align: middle;
    color: #848484;
}

.cell-button {
    height: 110px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #eeeeee;
}

.contact-buttom {
    background-color: #dddddd;
}

.contact-us-btn {
    color: white;
    padding: 18px 45px;
    background-color: #848484;
    text-decoration: none;
    border-radius: 6px;
}

.contact-us-btn:hover {
    background-color: #3c3c3c;
}

.standart-buy-btn {
    color: white;
    padding: 18px 45px;
    background-color: #89c331;
    text-decoration: none;
    border-radius: 6px;
}

.standart-buy-btn:hover {
    background-color: #78ab2b;
}

.ultimate-buy-btn {
    color: white;
    padding: 18px 45px;
    background-color: #f04a56;
    text-decoration: none;
    border-radius: 6px;
}

.ultimate-buy-btn:hover {
    background-color: #d7434d;
}

.premium-buy-btn {
    color: white;
    padding: 18px 45px;
    background-color: #20807c;
    text-decoration: none;
    border-radius: 6px;
}

.premium-buy-btn:hover {
    background-color: #1a6764;
}