body {
    background-color: black;
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 100vh;
    perspective: 400px;
    color: yellow;
    overflow: hidden;
}

.star-wars-content {
    position: relative;
    bottom: 0;
    transform-origin: 50% 100%;
    animation: slide 100s linear;
}

.star-wars-content-text {
    font-family:sans-serif;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
}

.text-title {
    margin-bottom: 40px;
}

.text {
    text-align: justify;
    margin-bottom: 40px;
}

@keyframes slide {
    0% {
        top: 100vh;
        transform: rotateX(30deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(40deg) translateZ(-2000px);
    }
}