body {
    font-family: sans-serif;
    background-image: url("../images/bgr.jpg");
    background-size: cover;
}

.container-content {
    width: 1065px;
    margin: 0 auto
}

.header {
    height: 50px;
    width: 100%;
    margin: 50px 0;
}

.logo-section {
    float: left;

}

.logo {
    background: url("../images/logo.png");
    float: left;
    width: 46px;
    height: 44px;
}

.logo-section:hover .logo {
    background: url("../images/logo-hover.png");
    width: 46px;
    height: 44px;
}

.logo-text {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}

.logo-text-milan {
    font-size: 29px;

}

.logo-text-holidays {
    font-size: 18px;
}

.logo-section:hover .logo-text {
    color: #f26522;
}

.contacts-section {
    float: right;
}

.contacts-text {
    width: 250px;
    font-size: 18px;
    text-align: right;
    color: white;
    padding-top: 12px;
}

.services-item {
    float: left;
    margin-bottom: 60px;
}

.services-item:nth-child(3n-1) {margin: 0 70px}

.services-img {
    position: relative;

}


.services-price {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 137px;
    bottom: 0;
    background: #f26522;
    color: white;
}

.services-price {
    padding: 14px 20px}

.services-price-text {
    font-size: 20px;
}

.services-price-text-details {
    font-size: 14px;
    padding-left: 130px;
    text-decoration: none;
    color: white;
}

.services-price-text-details:after {
    content: '';
    vertical-align: middle;
    margin: 0 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid #f9b291;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.services-price-text:before {
    content: '$';
}

.services-price-text-from:after {
    content: 'from';
    font-size: 14px;
}

.services-item:hover .services-price {
    display: block;
}

.services-item:hover .services-link {
    color: #f26522;
}


.services-link {
    text-decoration: none;
    color: white;
}

.services-text {
    font-size: 18px;
    text-align: center;
    padding-top: 22px;
}


.footer {
    margin-bottom: 20px;
}

.copyright {
    font-size: 12px;
    text-align: center;
    color: white;
}





.clearfix {
    display: inline-block;
    content: "";
    clear: both;
}