.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373c3f;
  position: relative; }
  .navigation__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-left: 19px; }
  .navigation__logo {
    display: none;
    margin: 6px 30px; }

.navigation-menu {
  padding: 17.5px 13px; }
  .navigation-menu__btn, .navigation-menu__btn::before, .navigation-menu__btn::after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: white;
    transition: 0.3s; }
  .navigation-menu__btn::before {
    transform: translateY(-4px); }
  .navigation-menu__btn::after {
    transform: translateY(2px); }
  .navigation-menu:hover {
    background-color: #202529; }
  .navigation-menu--active .navigation-menu__btn::before {
    display: none;
    background-color: #202529; }
  .navigation-menu--active .navigation-menu__btn::after {
    transform: rotate(100deg); }
  .navigation-menu--active .navigation-menu__btn {
    transform: rotate(-50deg); }

.navigation-menu-list {
  display: none;
  width: 57%;
  position: absolute;
  top: 100%;
  right: 0; }
  .navigation-menu-list__item {
    background-color: white;
    list-style: none;
    padding: 8px 13px;
    border: 1px solid #e9e9e9; }
    .navigation-menu-list__item:hover {
      background-color: #f5f5f5; }
  .navigation-menu-list__link {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #737373; }

.slogan {
  display: flex;
  flex-direction: column;
  background: url("../img/header-fon.png") no-repeat center;
  background-size: cover;
  margin-bottom: 4px; }
  .slogan__first-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 16px; }
  .slogan__second-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 7px; }
  .slogan__url {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #a6d6e0;
    margin-left: 20px;
    margin-top: 3%;
    margin-bottom: 29.5%; }

.card-item {
  display: flex;
  margin-top: 2px; }

.card-item-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Pizza-fon.png") no-repeat bottom;
  background-size: cover;
  width: 77.7%; }
  .card-item-pizza__text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 27.5px 0; }

.card-item-ux {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/UA_UX-fon@1X.png") no-repeat bottom;
  background-size: cover;
  width: 77.7%; }
  .card-item-ux__text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 27.5px 0; }

.card-item-deserts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Desserts-fon.png") no-repeat top;
  background-size: cover;
  width: 77.7%; }
  .card-item-deserts__text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 27.5px 0; }

.card-item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.3%;
  background-color: #acd8ad; }

.card-item-arrow-link {
  padding: 41% 40%; }
  .card-item-arrow-link__arrow::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin-right: 2px; }

.neque-head__logo {
  display: none;
  margin-right: 69px; }

.neque-head-text__title {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  color: #3f4043;
  margin-top: 20px;
  margin-left: 9px;
  letter-spacing: 0.6px; }
.neque-head-text__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: #cbccce;
  margin-top: 4px;
  margin-left: 9px;
  letter-spacing: 0.5px; }

.tincidunt__title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #acd8ad;
  background-color: #3f4043;
  margin-top: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 19px; }

.container {
  margin: auto 17px; }

.tincidunt-list-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }
  .tincidunt-list-name__title {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: #3f4043;
    padding-left: 1.5px; }

.tincidunt-list-item {
  margin-bottom: 13px; }
  .tincidunt-list-item__text {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 9px;
    font-weight: 300;
    color: #3f4043;
    margin-top: 5px; }

.tincidunt-list-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px; }
  .tincidunt-list-item-head__title {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 300;
    color: #3f4043; }
  .tincidunt-list-item-head__price {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #3f4043; }
    .tincidunt-list-item-head__price::before {
      display: inline-block;
      content: '$'; }

.tincidunt-list-second-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 11px; }
  .tincidunt-list-second-name__img {
    padding-right: 5px; }

.vestibulum {
  margin-bottom: 49px; }
  .vestibulum__title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background-color: #acd8ad;
    margin-top: 32px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #acd8ad;
  padding: 13px 0; }
  .footer__logo {
    display: none;
    margin-left: 30px; }

.footer-text__first-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-bottom: 5px; }
.footer-text__second-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  color: white;
  letter-spacing: -0.5px; }

@media (min-width: 640px) {
  .navigation__text {
    font-size: 24px; }

  .navigation-menu {
    padding: 30px 25px; }

  .navigation-menu-list {
    width: 47%; }
    .navigation-menu-list__link {
      font-size: 14px; }
    .navigation-menu-list__item {
      padding: 16px 26px; }

  .slogan__first-text {
    font-size: 36px;
    margin-left: 30px;
    margin-top: 38px; }
  .slogan__second-text {
    font-size: 36px;
    margin-left: 30px;
    margin-top: 7px; }
  .slogan__url {
    font-size: 24px;
    margin-left: 30px; }

  .card-item-pizza__text {
    font-size: 36px; }

  .card-item-ux__text {
    font-size: 36px; }

  .card-item-deserts__text {
    font-size: 36px; }

  .neque-head__title {
    font-size: 26px; }
  .neque-head__subtitle {
    font-size: 13px; }

  .tincidunt__title {
    font-size: 26px; }

  .tincidunt-list-name__title {
    font-size: 20px; }

  .tincidunt-list-item__text {
    font-size: 15px; }

  .tincidunt-list-item-head__title {
    font-size: 17px; }
  .tincidunt-list-item-head__price {
    font-size: 17px; }

  .vestibulum__title {
    font-size: 26px; }

  .footer {
    padding: 28px 0; }

  .footer-text__first-text {
    font-size: 18px; }
  .footer-text__second-text {
    font-size: 18px; } }
@media (min-width: 980px) {
  .navigation__text {
    display: none; }
  .navigation__logo {
    display: block; }

  .navigation-menu {
    display: none; }

  .navigation-menu-list {
    display: flex;
    position: static;
    width: 85%; }
    .navigation-menu-list__item {
      list-style: none;
      padding: 40px 32px;
      border: none;
      background-color: #373c3f; }
      .navigation-menu-list__item:hover {
        background-color: #202529; }
    .navigation-menu-list__link {
      font-size: 15px;
      text-transform: uppercase;
      color: white; }

  .card {
    display: flex;
    justify-content: space-between; }

  .card-item {
    width: 100%; }

  .card-item-pizza {
    width: 100%; }
    .card-item-pizza__text {
      font-size: 38px;
      padding: 145px 0; }

  .card-item-ux {
    width: 100%; }
    .card-item-ux__text {
      font-size: 38px;
      padding: 145px 0; }

  .card-item-deserts {
    width: 100%; }
    .card-item-deserts__text {
      font-size: 38px;
      padding: 145px 0; }

  .card-item-arrow {
    display: none; }

  .neque-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px; }
    .neque-head__logo {
      display: block; }

  .neque-head-text__title {
    font-size: 30px; }
  .neque-head-text__subtitle {
    font-size: 15px; }

  .neque-body {
    display: flex; }

  .vestibulum__title {
    margin-top: 12px; }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 0; }
    .footer__logo {
      display: block; }

  .footer-text {
    display: flex;
    margin-right: 30px; }
    .footer-text__first-text {
      font-size: 18px;
      margin-right: 5px; }
    .footer-text__second-text {
      font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
