.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373c3f;
  position: relative;

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-left: 19px;
  }

  &__logo {
    display: none;
    margin: 6px 30px;
  }
}

.navigation-menu {
  padding: 17.5px 13px;

  &__btn,
  &__btn::before,
  &__btn::after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: white;
    transition: 0.3s;
  }

  &__btn::before {
    transform: translateY(-4px);
  }

  &__btn::after {
    transform: translateY(2px);
  }

  &:hover {
    background-color: #202529;
  }

  &--active &__btn::before {
    display: none;
    background-color: #202529;
  }

  &--active &__btn::after {
    transform: rotate(100deg);
  }

  &--active &__btn {
    transform: rotate(-50deg);
  }
}

.navigation-menu-list {
  display: none;
  width: 57%;
  position: absolute;
  top: 100%;
  right: 0;

  &__item {
    background-color: white;
    list-style: none;
    padding: 8px 13px;
    border: 1px solid #e9e9e9;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &__link {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #737373;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  background: url("../img/header-fon.png") no-repeat center;
  background-size: cover;
  margin-bottom: 4px;

  &__first-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 16px;
  }

  &__second-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-top: 7px;
  }

  &__url {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #a6d6e0;
    margin-left: 20px;
    margin-top: 3%;
    margin-bottom: 29.5%;
  }
}


.card {

}

.card-item {
  display: flex;
  margin-top: 2px;
}

.card-item-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Pizza-fon.png") no-repeat bottom;
  background-size: cover;
  width: 77.7%;

  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 27.5px 0;
  }
}

.card-item-ux {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/UA_UX-fon@1X.png") no-repeat bottom;
  background-size: cover;
  width: 77.7%;

  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 27.5px 0;
  }
}
.card-item-deserts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Desserts-fon.png") no-repeat top;
  background-size: cover;
  width: 77.7%;

  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 27.5px 0;
  }
}

.card-item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.3%;
  background-color: #acd8ad;
}

.card-item-arrow-link {
  padding: 41% 40%;
  &__arrow::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin-right: 2px;
  }
}

.neque-head {

  &__logo {
    display: none;
    margin-right: 69px;
  }
}

.neque-head-text {

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
    color: #3f4043;
    margin-top: 20px;
    margin-left: 9px;
    letter-spacing: 0.6px;
  }

  &__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    font-weight: 300;
    color: #cbccce;
    margin-top: 4px;
    margin-left: 9px;
    letter-spacing: 0.5px;
  }
}

.tincidunt {

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(172, 216, 173, 255);;
    background-color: #3f4043;
    margin-top: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
  }
}

.container {
  margin: auto 17px;
}

.tincidunt-list {

}

.tincidunt-list-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: #3f4043;
    padding-left: 1.5px;

  }
}

.tincidunt-list-item {
  margin-bottom: 13px;

  &__text {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-size: 9px;
    font-weight: 300;
    color: #3f4043;
    margin-top: 5px;
  }
}

.tincidunt-list-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 300;
    color: #3f4043;
  }

  &__price {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #3f4043;

    &::before {
      display: inline-block;
      content: '$';
    }
  }
}

.tincidunt-list-second-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 11px;

  &__img {
    padding-right: 5px;
  }
}

.vestibulum {
  margin-bottom: 49px;

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background-color: rgba(172, 216, 173, 255);
    margin-top: 32px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 216, 173, 255);
  padding: 13px 0;

  &__logo {
    display: none;
    margin-left: 30px;
  }
}

.footer-text {


  &__first-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-bottom: 5px;
  }

  &__second-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: white;
    letter-spacing: -0.5px;
  }
}

@media (min-width: 640px) {
  .navigation {
    &__text {
      font-size: 24px;
    }
  }

  .navigation-menu {
    padding: 30px 25px;
}

  .navigation-menu-list {
    width: 47%;

    &__link {
      font-size: 14px;
    }

    &__item {
      padding: 16px 26px;
    }
  }

  .slogan {
    &__first-text {
      font-size: 36px;
      margin-left: 30px;
      margin-top: 38px;
    }

    &__second-text {
      font-size: 36px;
      margin-left: 30px;
      margin-top: 7px;
    }

    &__url {
      font-size: 24px;
      margin-left: 30px;
    }
  }

  .card-item-pizza {
    &__text {
      font-size: 36px;
    }
  }

  .card-item-ux {
    &__text {
      font-size: 36px;
    }
  }

  .card-item-deserts {
    &__text {
      font-size: 36px;
    }
  }

  .neque-head {
    &__title {
      font-size: 26px;
    }

    &__subtitle {
      font-size: 13px;
    }
  }

  .tincidunt {
    &__title {
      font-size: 26px;
    }
  }

  .tincidunt-list-name {
     &__title {
      font-size: 20px;
    }
  }

  .tincidunt-list-item {
    &__text {
      font-size: 15px;
    }
  }

  .tincidunt-list-item-head {
    &__title {
      font-size: 17px;
    }

    &__price {
      font-size: 17px;
    }
  }

  .vestibulum {
      &__title {
      font-size: 26px;
    }
  }

  .footer {
    padding: 28px 0;
  }

  .footer-text {
    &__first-text {
      font-size: 18px;
    }

    &__second-text {
      font-size: 18px;
    }
  }

}

@media (min-width: 980px) {
  .navigation {

    &__text {
      display: none;
    }

    &__logo {
      display: block;
    }
  }

  .navigation-menu {
    display: none;
  }

  .navigation-menu-list {
    display: flex;
    position: static;
    width: 85%;

    &__item {
      list-style: none;
      padding: 40px 32px;
      border: none;
      background-color: #373c3f;

      &:hover {
        background-color: #202529;
      }
    }

    &__link {
      font-size: 15px;
      text-transform: uppercase;
      color: white;
    }
  }

  .card {
    display: flex;
    justify-content: space-between;
  }

  .card-item {
    width: 100%;
  }

  .card-item-pizza {
    width: 100%;

    &__text {
      font-size: 38px;
      padding: 145px 0;
    }
  }

  .card-item-ux {
    width: 100%;

    &__text {
      font-size: 38px;
      padding: 145px 0;
    }
  }

  .card-item-deserts {
    width: 100%;

    &__text {
      font-size: 38px;
      padding: 145px 0;
    }
  }

  .card-item-arrow {
    display: none;
  }

  .neque-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    &__logo {
      display: block;
    }
  }

  .neque-head-text {

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 15px;
    }
  }

  .neque-body {
    display: flex;
  }

  .vestibulum {
    &__title {
      margin-top: 12px;
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 0;

    &__logo {
      display: block;
    }
  }

  .footer-text {
    display: flex;
    margin-right: 30px;

    &__first-text {
      font-size: 18px;
      margin-right: 5px;
    }

    &__second-text {
      font-size: 18px;
    }
  }
}
