.selected {
    background-color: black;
}

.no-selected {
    background-color: white;
}

.inverted .selected {
    background-color: white;
}

.inverted .no-selected {
    background-color: black;
}