body {
    background-color: #222f3a;
}

.logo {
    color: gray;
}

.theme-btn {
    color: white;
    background-color: darkcyan;
}

.logo-second-color {
    color: darkcyan;
}

.navbar-text {
    color: gray;
}

.lateral-menu-text {
    color: gray;

}

.text {
    color: gray;
}

.footer {
    background-color: gray;
}

.lateral-menu li:hover {background-color: #35444f; padding-left: 70px}


