body {
    background-color: white;
}

.logo {
    color: black;
}

.logo-second-color {
    color: #4bcaff;
}

.theme-btn {
    color: white;
    background-color:  #4bcaff;
}

.navbar-text {
    color: white;
}

.lateral-menu-text {
    color: #485863;

}

.text {
    color: black;
}

.footer {
    background-color: #b4b7ba;
}

.lateral-menu li:hover {background-color: #dbdbdb; padding-left: 70px}
