body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 60px;
}

.logo {
    display: inline-block;
    margin-bottom: 45px;
    font-size: 60px;
    text-decoration: none;
    color: black;
}

.logo-second-color {
    color: #4bcaff
}

.navbar-block {
    background-color: #35444f;
    padding: 20px 0;
    text-align: center;
}

.navbar-text {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 18px 70px;
}

.page-info {
    margin: 50px 0;
}

.lateral-menu {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    box-sizing: border-box;
    border: 2px solid black;
    width: 350px;
    height: 400px;
    margin-right: 42px;

}

.lateral-menu li {
    padding: 30px 30px 30px 50px;
}

.lateral-menu-text {
    font-size: 20px;
    text-decoration: none;
    color: #485863;

}

.info-block {
    display: inline-block;
    width: 69%;
    vertical-align: top;
    text-align: center;
}

.image {
    box-sizing: border-box;
    border: 2px solid black;
    width: 875px;
    height: 530px;
    padding: 75px 300px;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    margin: 30px;
    text-align: left;
}

.footer {
    background-color: #b4b7ba;
    padding: 20px;
}

.footer-menu {
    display: inline-block;
    width: 80%;
    margin-right: 45px;
}

.footer-menu-text {
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.copyright {
    display: inline-block;
    font-size: 24px;
    text-align: right;
}

.navbar-block a:hover {background-color: #222f3a}
.lateral-menu li:hover {background-color: #dbdbdb; padding-left: 70px}
.footer-menu a:hover {color: #3181a6}

