body {
    font-family: sans-serif;
}

/*Navigation*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
    width: 100%;
    height: 70px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    padding: 21px;
}

.logo-img:hover {
    background-color: #1a1d20;
}

.logo-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
    padding-left: 6px;
}

.navbar {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.navbar-text {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.search-icon {
    padding: 28px 25px;
}

.search-icon:hover {
    background-color: #1a1d20;
}

/*Latest News*/

.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bg.jpeg") no-repeat bottom fixed;
    background-size: cover;
}

.latest-news-text {
    font-size: 27px;
    text-transform: uppercase;
    color: white;
    align-content: space-between;
    margin-bottom: 45px;
}

.latest-news-btns {
    display: flex;
}

.style-btns {
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.subscribe-btn {
    padding: 20px;
    background-color: #89ca62;
    margin-right: 15px;
}

.articles-btn {
    padding: 20px 32px;
    background-color: #14b9d5;
}

.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1030px;
    background-color: #f2f2f2;
}

.most-popular-title {
    margin: 45px 0;
}

.block-title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18b4cf;
}

.most-popular-gallery {
    display: flex;
    width: 1170px;
    align-items: flex-start;
    justify-content: space-between;
}

.img-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.mp-img {
    margin-bottom: 20px;

}

.mp-item {
    margin-bottom: 30px;
    background-color: #fff;
}

.mp-vanglo-house {
    height: 320px;
    width: 370px;

}

.mp-sunrise {
    height: 441px;
    width: 370px;

}

.mp-stargaze {
    height: 355px;
    width: 370px;
}

.mp-royal {
    height: 321px;
    width: 370px;
}

.mp-sunset {
    height: 309px;
    width: 370px;
}

.mp-glorious {
    height: 441px;
    width: 370px;
}

.mp-text {
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;

}

.clients {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    height: 590px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/parallax-bg.jpeg") no-repeat center fixed;
    background-size: cover;
}

.clients-title {
    align-self: end;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.clients-line {
    border-bottom: 2px solid #169cb4;
    width: 60px;
}

.clients-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    align-self: start;
}

.top-rated {
    display: grid;
}

.top-rated-title {
    place-self: center;
    padding: 60px 0;
}

.top-rated-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: stretch;
    height: 100%;
}

.hot-news-content {
    width: 1170px;
    margin: 0 auto;
}

.hot-news-title {
    padding: 60px 0;
    text-align: center;
}

.hot-news-items {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-gap: 42px 35px;
}

.prophecy-block {
    display: grid;
    width: 856px;
    grid-template-columns: 2fr 1.5fr;
    grid-column: 1/4;
    background-color: #f9f7f7;
}

.prophecy-img {
    background-image: url("../images/hot-news-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
}

.hot-news-text-block {
    align-self: center;
    padding: 20px 20px;
}

.hot-news-title-text {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 20px;
}

.hot-news-title-text-only {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.hot-news-text {
    font-size: 14px;
    text-align: right;
}

.nebula-block {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-column: 4;
    background-color: #f9f7f7;
}

.nebula-img {
    background-image: url("../images/hot-news-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.western-block {
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    grid-row: 2;
    grid-column: 1/3;
    background-color: #f9f7f7;
}

.western-img {
    background-image: url("../images/hot-news-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grand-block {
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    grid-row: 2;
    grid-column: 3/5;
    background-color: #f9f7f7;
}

.grand-img {
    background-image: url("../images/hot-news-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wanderlust-block {
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    grid-row: 3;
    grid-column: 1/3;
    background-color: #f9f7f7;
}

.wanderlust-img {
    background-image: url("../images/hot-news-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.twin-block {
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    grid-row: 3;
    grid-column: 3/5;
    background-color: #f9f7f7;
}

.twin-img {
    background-image: url("../images/hot-news-6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prism-block {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-row: 4;
    grid-column: 1;
    background-color: #f9f7f7;
}

.prism-img {
    background-image: url("../images/hot-news-7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.kings-block {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-row: 4;
    grid-column: 2/5;
    background-color: #f9f7f7;
}

.kings-img {
    background-image: url("../images/hot-news-8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
}

.footer {
    display: grid;
    height: 80px;
    margin-top: 70px;
    background-color: #1d2124;
    justify-items: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1170px;
    align-items: center;
}

.all-rights {
    grid-column: 1/2;
    font-size: 13px;
    color: #fff;
}

.logo-footer-block {
    display: flex;
    justify-self: end;
}

.logo-footer-text {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.scroll-up-btn {
    text-decoration: none;
}

.scroll-up-btn::before {
    content: '\2B06';
    font-size: 30px;
    color: white;
    padding: 5px 12px;
    background-color: #14b9d5;
    border-radius: 100%;
}

.show-hide {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.show-hide-btn {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 20px 40px;
    background-color: #14b9d5;
    cursor: pointer;
}