body {
    font-family: sans-serif;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 80px;

}

.header-content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.logo:hover {
    color: #3cb878;
}

.nav-icons {
    display: flex;
    width: 120px;
    height: 20px;
}

.icon {
    padding-right: 25px;
}

.calendar-icon-img {
    width: 19px; height: 19px;
    background: url('../images/sprites.png') -10px -10px;
}

.calendar-icon-img:hover {
    width: 19px; height: 19px;
    background: url('../images/sprites.png') -49px -10px;
}

.forum-icon-img {
    width: 28px; height: 20px;
    background: url('../images/sprites.png') -168px -10px;
}

.forum-icon-img:hover {
    width: 28px; height: 20px;
    background: url('../images/sprites.png') -216px -10px;
}

.jurney-icon-img {
    width: 20px; height: 20px;
    background: url('../images/sprites.png') -88px -10px;
}

.jurney-icon-img:hover {
    width: 20px; height: 20px;
    background: url('../images/sprites.png') -128px -10px;
}

.vertical-line {
    height: 19px;
    border-left: 1px solid #32302f;
}

.authorisation {
    font-size: 14px;
    color: white;
}

.authorisation-link {
    text-decoration: none;
    color: #3cb878;
}

/*CONTENT*/

.content {
    display: flex;
    min-height: calc(100vh - 56px);
    justify-content: center;
    align-items: center;

}

.container {
    width: 325px;
    height: 530px;
    margin: 0 auto;
}

.registration {
    width: 445px;
    height: 585px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.registration-text {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.registration-square {
    height: 18px;
    width: 18px;
    border-left: 18px solid #3cb878;
    position: absolute;
    top: 30px;
    left: 0;
}

.registration-headline {
    font-size: 20px;
    color: #434343;
}

/*SOCIAL BTN*/

.registration-social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.registration-social-facebook-btn {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 15px 0;
    background-color: #305db8;
    text-decoration: none;
    border-radius: 4px;
}

.registration-social-facebook-btn:hover {
    background-color: #264b96;
}

.registration-social-line {
    height: 19px;
    border-left: 1px solid #32302f;
    opacity: 0.2;
}

.registration-social-text {
    font-size: 16px;
    color: white;
    padding: 0 18px;
}

.registration-social-google-btn {
    display: flex;
    align-items: center;
    width: 160px;
    padding: 15px 0;
    background-color: #df4a32;
    text-decoration: none;
    border-radius: 4px;
}

.registration-social-google-btn:hover {
    background-color: #c3412c;
}

.social-icon-img {
    width: 10px;
    height: 17px;
    color: white;
    padding: 0 20px;
}

/*OR*/

.registration-or {
    margin-top: 25px;
    text-align: center;
}

.registration-or:before {
    display: inline-block;
    content: ' ';
    width: 135px;
    vertical-align: middle;
    border-bottom: 1px solid black;
    opacity: 0.2;
}

.registration-or:after {
    display: inline-block;
    content: ' ';
    width: 135px;
    vertical-align: middle;
    border-bottom: 1px solid black;
    opacity: 0.2;
}

.registration-or-text {
    font-size: 14px;
    text-align: center;
    color: #848484;
    padding: 0 16px;
}

/*FORM*/

.registration-form {
    margin-top: 10px;
}

.registration-form-input {
    width: 305px;
    height: 46px;
    margin-bottom: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding-left: 17px;
}

.registration-form-input:focus {
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
}


.registration-form-checkbox-btn {
    display: none;
}

.registration-form-checkbox-btn:checked + .registration-form-checkbox-text::before {
    content: "\2713\0020";
    color: #3cb878;
    padding-top: 2px;
    text-align: center;
}

.registration-form-checkbox-text {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #434343;
}

.registration-form-checkbox-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}



.registration-form-checkbox-link {
    text-decoration: none;
    color: #3cb878;
    margin-top: 10px;
}

.registration-form-btn {
    font-size: 16px;
    color: white;
    padding: 0;
    margin-top: 17px;
    width: 325px;
    height: 46px;
    border: none;
    border-radius: 3px;
    background-color: #3cb878;
}
.registration-form-btn:hover {
    background-color: #329a65;
}